@page "/dashboard"

<h3>Dashboard</h3>

<div class="row">
    <div class="col">
        <NavLink class="btn btn-primary w-100 mb-2" href="/novareserva">Nova Reserva</NavLink>
        <NavLink class="btn btn-secondary w-100 mb-2" href="/equipamentos">Gerenciar Equipamentos</NavLink>
        <NavLink class="btn btn-success w-100 mb-2" href="/relatorios">Relatórios</NavLink>
    </div>
</div>
